canvas {
    width: 128px;
    max-width: 128px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: absolute;
    bottom: 3%;
    pointer-events: none;
}

#stop_clic {
    position: absolute;
    color: white;
    width: 200px;
    max-width: 50%;
    height: 50px;
    max-height: 10%;
    text-align: center;
    background-color: rgb(236, 78, 78);
    border: solid 5px black;
    padding: 1em;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    transition: 3s;
}

#stop_clic:hover {
    cursor: pointer;
}

#option {
    position: absolute;
    width: 100%;
    height: 20px;
    border: solid 5px black;
    padding: 5px;
    font-size: 1em;
    color: white;
    background-color: rgb(30, 30, 30);
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
    transition: ease-in 1s;
}

#loop {
    margin-right: 20px;
}

.center {
    width: 450px;
    margin: auto;
}

#speed {
    width: 300px;
    max-width: 35vh;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

aside {
    width: 100%;
    height: 100%;
    background-image: url("../images/winter/winter.jpg");
    background-size: cover;
    background-position: bottom left;
}

#red.animate {
    animation-duration: 13.7s;
    animation-name: redc;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#red {
    left: -150px;
}

#yellow {
    right: -150px;
}

#yellow.animate {
    animation-duration: 13.7s;
    animation-name: yellowc;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes redc {
    0% {
        left: -150px;
    }

    20% {
        left: 5%;
    }

    28% {
        left: calc(50% - 110px);
    }

    66% {
        left: calc(50% - 110px);
    }

    100% {
        left: 120%;
    }
}

@keyframes yellowc {
    0% {
        right: -150px;
    }

    20% {
        right: 5%;
    }

    28% {
        right: calc(50% - 110px);
    }

    66% {
        right: calc(50% - 110px);
    }

    100% {
        right: 120%;
    }
}