html {
    background-color: white;
    font: 1em Bookman, URW Bookman L, serif;
}

body {
    width: 60%;
    margin: auto;
    background-color: rgb(240, 240, 240);
}

header img {
    display: none;
}

header p {
    display: inline-block;
    width: 230px;
    text-align: center;
    border-left: 1px solid grey;
}

hr+p {
    border-left: none;
}

header h1+p {
    border-right: none;
    color: white;
    background-color: grey;
    text-align: left;
    border-radius: 5px;
    padding: 1em;
    width: 95%;
}

h1 {
    margin: 0;
}

header+article p {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

time {
    grid-row: 1 / 3;
    background-color: rgb(245, 245, 245);
    border-top: 1px dashed black;
    width: 60%;
    margin: auto;
    text-align: center;
}

span+.right {
    background-color: rgb(220, 220, 220);
    width: max-content;
}

time+span {
    font-weight: bold;
}

h3 {
    text-transform: uppercase;
}

section {
    padding: 1em;
}

h2+section p {
    display: inline-block;
    padding-left: 20px;
}

span>span {
    display: inline-block;
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.right {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

article {
    border-bottom: 2px solid black;
    padding: 2em;
}

footer {
    background-color: grey;
    color: #dfe1d9;
    padding: 2em;
    text-align: center;
}

footer img {
    float: left;
    max-width: 50px;
}

header {
    padding: 2em;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 2em;
    text-decoration: underline;
}